.btn {
    display: block;
    box-sizing: border-box;
    width: 90%;

    margin-left: auto;
    margin-right: auto;
    padding: 6px 0;

    border-radius: 4px;

    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: $color-black;

    cursor: pointer;

    &--info {
        border: 1px solid #45a800;
        border-bottom: 0;
        background: {
            color: #45a900;
            image: linear-gradient(#b8dda2, #45a900 25%, #45a900 90%, #255900 99%);
        }

        font-size: 0.6rem;
        letter-spacing: 1px;
    }

    &--send {
        border: 1px solid #005398;
        border-bottom: 0;
        background: {
            color: #005398;
            image: linear-gradient(#afc5dd, #005398 25%, #005398 90%, #003059 99%);
        }
        font-weight: 700;
        font-size: 0.7rem;
    }
}
