.game {
    position: relative;
    transform: translateZ(0);
    overflow: hidden;
    vertical-align: top;

    max-width: 200px;
    margin: 15px auto;

    border: 2px solid #1d0000;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px #4f4f4f;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        font-weight: bold;

        transition: transform 0.3s ease-in-out;
        transform: translateY(100%);
    }

    &__details {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;

        transform: translateY(-50%);
    }

    &:hover {
        .game__overlay {
            transform: translateY(0);
        }
    }

    @media screen and (max-width: $small) {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
