.machine {
    position: relative;

    margin: 40px 10px;
    padding: 2%;

    background: {
        color: $color-metal;
        image: linear-gradient(#b0b0b0, #d4d4d4 15%, #adacac 65%);
    }

    border: 1px solid #cbcbcb;
    border-radius: 20px;
    box-shadow: 0 0 1px 3px #cbcbcb;

    &::before {
        content: "";

        position: absolute;
        top: -5px;
        left: -5px;
        z-index: -1;

        width: calc(100% + 10px);
        height: calc(100% + 10px);

        border-radius: 20px;
        box-shadow: 0 0 1px 3px #002267;
    }

    &__column {
        z-index: 3;

        padding: 15px 2%;

        background: {
            color: $color-metal;
            image: linear-gradient(#b0b0b0 0%, #fdfdfd 20%, #b0b0b0 80%);
        }

        border-radius: 20px;
        box-shadow: 0 0 2px 3px #8d8c8c;

        &--1,
        &--2 {
            @media screen and (max-width: $tiny) {
                width: 50%;
                margin: 0;
            }
        }

        &--3 {
            @media screen and (max-width: $tiny) {
                width: 100%;
                margin: 0 0 15px;

                .machine__games {
                    padding: 0 5px;
                }

                .game {
                    display: inline-block;
                    width: calc(50% - 11px);
                    margin-bottom: 0;
                }

                .game:nth-child(odd) {
                    margin-right: 5px;
                }

                .game:nth-child(even) {
                    margin-left: 5px;
                }
            }
        }

        @media screen and (max-width: $small) {
            padding: 0;
            border-radius: 0;
            box-shadow: none;
            background: none;
        }
    }

    &__inner {
        padding: 15px;
        background: {
            color: #080606;
            image: linear-gradient(#080606 0%, #c7c7c7 50%, #080606 100%);
        }
        border: 1px solid #282828;

        @media screen and (max-width: $small) {
            padding: 0 2px;
            background: none;
            border: 0;
        }
    }

    &__games {
        padding: 2px 5px;
        background-color: #efefef;
        border-radius: 4px;

        @media screen and (max-width: $small) {
            background-color: transparent;
        }
    }

    &__beam {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        z-index: 2;

        height: 13px;
        width: 98%;
        margin-left: auto;
        margin-right: auto;

        background: {
            color: #003a68;
            image: linear-gradient(#0079dc, #003a68);
        }

        border-radius: 5px;
        box-shadow: -1px -1px 0 2px #ccc;

        transform: translateY(-50%);

        @media screen and (max-width: $small) {
            display: none;
        }
    }

    @media screen and (max-width: $small) {
        background-image: linear-gradient(#b0b0b0 0%, #fdfdfd 20%, #b0b0b0 80%);
        box-shadow: 0 0 2px 3px #8d8c8c;
    }
}
