.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    visibility: hidden;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease;

    &__box {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);

        box-sizing: border-box;
        max-width: 450px;
        width: 95%;
        margin: 0 auto;
        padding: 30px 5px 0;

        background-color: rgba($color-background, 0.99);
        border-radius: 10px;

        text-align: center;
    }

    &__close {
        position: absolute;
        top: 6px;
        right: 8px;
        padding-bottom: 3px;

        background-color: transparent;
        color: $color-white;

        border: 0;
        border-radius: 4px;

        font-size: 1.4em;
        line-height: 1.3em;
    }

    &__input {
        padding: 3px 8px;
        border-radius: 0;
        border: 1px solid transparent;
    }

    &__submit {
        padding: 2px 8px;
        background: {
            color: #003a68;
            image: linear-gradient(#0079dc, #003a68);
        }
        color: $color-white;
    }

    &__message {
        font-size: 1.2em;
    }

    &.is-active {
        z-index: 4;
        visibility: visible;
        opacity: 1;
    }
}
