.col {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: auto 1em;
    width: 100%;
    min-height: 1px;
    float: left;
}

$resolutions: $micro, $tiny, $small, $medium, $large;
$size-names: micro, tiny, small, medium, large;
$gutter: 10px;

@function column-width($cols) {
    @return 100% / 12 * $cols;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: calc(#{column-width($i)} - #{$gutter} * 2);
        margin: 0 $gutter;
    }
}

@for $x from 1 through length($resolutions) {
    @if $x == 1 {
        @media only screen {
            @for $i from 1 through 12 {
                .col--flush-#{nth($size-names, $x)}-#{$i} {
                    width: calc(#{column-width($i)});
                    margin: 0;
                }
            }
        }
    } @else {
        @media only screen and (max-width: nth($resolutions, $x)-1) {
            @for $i from 1 through 12 {
                .col--flush-#{nth($size-names, $x)}-#{$i} {
                    width: calc(#{column-width($i)});
                    margin: 0;
                }
            }
        }
    }
}

@for $x from 1 through length($resolutions) {
    @if $x == 1 {
        @media only screen {
            @for $i from 1 through 12 {
                .col-#{nth($size-names, $x)}-#{$i} {
                    width: calc(#{column-width($i)} - #{$gutter} * 2);
                    margin: 0 $gutter;
                }
            }
        }
    } @else {
        @media only screen and (max-width: nth($resolutions, $x)-1) {
            @for $i from 1 through 12 {
                .col-#{nth($size-names, $x)}-#{$i} {
                    width: calc(#{column-width($i)} - #{$gutter} * 2);
                    margin: 0 $gutter;
                }
            }
        }
    }
}


.container {
    width: 100%;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}
